.DS_Store
tmp
bin
build
dist
*.zip
*/*/modules
*/*/modules*
.apt_generated
build.properties
.svn
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcworkspace/
xcuserdata
*.xcuserstate
*.xcuserdata*
.idea/
libs/
/iphone/assets
/iphone/documentation
/iphone/example
/iphone/LICENSE
/iphone/openssl-xcode/openssl/libcrypto.a
/iphone/openssl-xcode/openssl/apps/openssl
iphone/openssl-xcode/openssl/test
/android/assets
/android/documentation
/android/example
/android/LICENSE
