*.mode1v3
*.pbxuser
xcuserdata
xcuserdata/*
*.xcworkspace/*
*.xcworkspace
.libs
.target_source
Makefile
config.h
config.log
config.status
keywordhash.h
lemon
lempar.c
libsqlite3.la
libtclsqlite3.la
libtool
mkkeywordhash
parse.h.temp
parse.out
parse.y
*.lo
*.o
tsrc
sqlite3.pc
testfixture
